<!-- <h1>El Glotón</h1>
<nav>

  <button (click)="navegar('cliente')">Cliente</button>
  <button (click)="navegar('empleado')">Empleado</button>
  <button (click)="navegar('gerente')">Gerente</button>
</nav>
-->
<section id="menu" class="menu-section">
  <h2>Nuestro Platos del dia</h2>
  <div class="menu-grid">
    <div class="menu-item">
      <h3>Entradas</h3>
      <img src="../assets/images/amburgesa.jpg" alt="Logo El Glotón" >
      <p>Sopa de mariscos frescos</p>
      <p>Bruschettas gourmet</p>
    </div>
    <div class="menu-item">
      <h3>Platos fuertes</h3>
      <img src="../assets/images/pique.jpg" alt="Logo El Glotón" >
      <p>Filete de res al vino tinto</p>
      <p>Pasta fresca con mariscos</p>
    </div>
    <div class="menu-item">
      <h3>Postres</h3>
      <img src="https://assets.isu.pub/document-structure/221014055728-63e7e40c176217626aa2f48e136f5f19/v1/6a4fa3ba7fe75464aecbe103e16b9edc.jpeg" alt="Logo El Glotón">
      <p>Tarta de chocolate con frutos rojos</p>
      <p>Helado artesanal</p>
    </div>
  </div>
</section>